<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Company</th>
			<th>Location</th>
			<th>Candidates</th>
		</tr>
	</thead>
	<tbody>
		{% if crawled is not empty  %}
			{% for newJ in crawled %}
				<tr>
					<td>{{ newJ.id }}</td>
					<td>{{ newJ.title }}</td>
					<td>{{ newJ.company }}</td>
					<td>{{ newJ.location }}</td>
					<td><a href="{{ path('match', {'jobId' : newJ.id }) }}">Show</a></td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>